//  COLORS

$red: #ff0000;
$green: #00C70D;
$black: #000000;

$dwhite: #DCDCDC;
$yellow: #F4A460;
$grey: #9C9C9C;
$white: #F8F8FF;
$dgrey: #696969;
$blue: #63B8FF;
$tgreen: #66CDAA;
$book: #CDC0B0;
// MIXINS
@mixin basicWindow() {
  margin-bottom: 30px;
  border: 2px solid;
  border-color: $grey;

  border-radius: 15px;
  color: $white;
  background-color: $black;
  box-shadow: 3px 3px 15px $black;
  text-decoration: none;
  outline: none;
}

@mixin mainButton() {
  @include basicWindow;
  display: block;
  margin: 0 auto;
  padding: 10px 120px;
  margin-bottom: 50px;

  text-align: center;
  text-decoration: none;
  color: $blue;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  &:hover {
    color: $yellow;
    border-color: $yellow;
  }
}

@mixin navButton() {
  padding: 10px 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  white-space: nowrap;
  border: 1px solid;
  border-color: $grey;
  font-size: 16px;

  background-color: $dgrey;
  color: $white;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  outline: none;

  &:hover,
  &--active:focus {
    border-color: inherit;
    color: $black;
    background-color: $yellow;
  };
}

@mixin testElem() {
  display: block;
  margin-bottom: 10px;
  border: 1px solid;
  border-color: inherit;
  padding: 8px 15px;

  background-color: $dwhite;
  color: $black;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-family: "Verdana", serif;
  font-size: 16px;
  text-decoration: none;
  &:hover {
    border-color: $blue;
  }
}
